<f:layout name="Default"/>

<f:section name="Title">Edit app "{app.name}"</f:section>

<f:section name="Content">
    <f:render partial="FormErrors" arguments="{for: 'app'}" />

    <f:form action="update" object="{app}" objectName="app">
        <label for="name">Name</label>
        <f:form.textfield property="name" id="name"/>
        <label for="clientId">Client id</label>
        <f:form.textfield property="clientId" id="clientId"/>
        <label for="secret">Secret</label>
        <f:form.textfield property="secret" id="secret"/>
        <label for="scope">Scope</label>
        <f:form.textfield property="scope" id="scope"/>
        <label for="provider">Provider</label>
        <select name="app[provider]" id="provider">
            <option>Select a provider</option>
            <f:for each="{providers}" as="provider">
                <f:if condition="{app.provider -> f:format.identifier()} == {provider -> f:format.identifier()}">
                    <f:then>
                        <option value="{provider -> f:format.identifier()}" data-oauthclient="{provider.oauthClient}" selected="selected">{provider.name}</option>
                    </f:then>
                    <f:else>
                        <option value="{provider -> f:format.identifier()}" data-oauthclient="{provider.oauthClient}">{provider.name}</option>
                    </f:else>
                </f:if>
            </f:for>
        </select>
        <div class="resource__container" style="display: none;">
            <label for="resource">Resource</label>
            <f:form.textfield property="resource" id="resource"/>
        </div>
        <label for="apiUri">Api base url</label>
        <f:form.textfield property="apiUri" id="apiUri"/>
        <label for="notes.example">Example</label>
        <f:form.textfield property="notes.example" id="notes.example" />
        <f:form.submit value="Update"/>
    </f:form>
    <script>
        let provider = document.querySelector('#provider')
        if (provider.options[provider.selectedIndex].dataset.oauthclient === 'CloudTomatoes\\OAuth2\\OAuthClients\\AzureClient' ) {
            document.querySelector('.resource__container').style.display = 'grid'
        }

        provider.addEventListener('change', e => {
            if (provider.options[provider.selectedIndex].dataset.oauthclient === 'CloudTomatoes\\OAuth2\\OAuthClients\\AzureClient' ) {
                document.querySelector('.resource__container').style.display = 'grid'
            } else {
                document.querySelector('.resource__container').style.display = 'none'
            }
        })
    </script>
</f:section>
