<f:layout name="Default"/>

<f:section name="Title">New app</f:section>

<f:section name="Content">
    <p>Just fill out the following form to create a new app:</p>

    <f:render partial="FormErrors" arguments="{for: 'newApp'}" />

    <f:form action="create" objectName="newApp">
        <label for="name">Name</label>
        <f:form.textfield property="name" id="name"/>
        <label for="clientId">Client id</label>
        <f:form.textfield property="clientId" id="clientId"/>
        <label for="secret">Secret</label>
        <f:form.textfield property="secret" id="secret"/>
        <label for="scope">Scope</label>
        <f:form.textfield property="scope" id="scope"/>
        <label for="provider">Provider</label>
        <f:form.select property="provider" id="provider" options="{providers}" optionLabelField="name"
                       prependOptionLabel="Select a provider"/>
        <label for="apiUri">Api base url</label>
        <f:form.textfield property="apiUri" id="apiUri"/>
        <f:form.submit value="Create"/>
    </f:form>
</f:section>
