<f:layout name="Default"/>

<f:section name="Title">New app</f:section>

<f:section name="Content">
    <p>Just fill out the following form to create a new app:</p>

    <f:render partial="FormErrors" arguments="{for: 'newApp'}" />

    <f:form action="create" objectName="newApp">
        <label for="name">Name</label>
        <f:form.textfield property="name" id="name"/>
        <label for="clientId">Client id</label>
        <f:form.textfield property="clientId" id="clientId"/>
        <label for="secret">Secret</label>
        <f:form.textfield property="secret" id="secret"/>
        <label for="scope">Scope</label>
        <f:form.textfield property="scope" id="scope"/>
        <label for="provider">Provider</label>
        <select name="newApp[provider]" id="provider">
            <option>Select a provider</option>
            <f:for each="{providers}" as="provider">
                <option value="{provider -> f:format.identifier()}" data-oauthclient="{provider.oauthClient}">{provider.name}</option>
            </f:for>
        </select>
        <div class="resource__container" style="display: none;">
            <label for="resource">Resource</label>
            <f:form.textfield property="resource" id="resource"/>
        </div>
        <label for="apiUri">Api base url</label>
        <f:form.textfield property="apiUri" id="apiUri"/>
        <f:form.submit value="Create"/>
    </f:form>

    <script>
        const provider = document.querySelector('#provider')
        provider.addEventListener('change', e => {
            const option = provider.options[provider.selectedIndex]
            if (option.dataset.oauthclient === 'CloudTomatoes\\OAuth2\\OAuthClients\\AzureClient' ) {
                document.querySelector('.resource__container').style.display = 'grid'
            } else {
                document.querySelector('.resource__container').style.display = 'none'
            }
        })
    </script>
</f:section>
